Source: sugar-etoys-activity
Section: contrib/x11
Priority: optional
Maintainer: Debian OLPC <debian-olpc-devel@lists.alioth.debian.org>
Uploaders: Ankur khurana <ankur@seeta.in>,
 Jonas Smedegaard <dr@jones.dk>,
 Luke Faraone <lfaraone@debian.org>
Build-Depends: devscripts,
 python (>= 2.6.5),
 cdbs (>= 0.4.97~),
 debhelper,
 dh-buildinfo,
 python-sugar-0.88 | python-sugar,
 python-sugar-toolkit-0.88 | python-sugar-toolkit,
 unzip
Standards-Version: 3.9.3
Vcs-Git: git://git.debian.org/collab-maint/sugar-etoys-activity.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/sugar-etoys-activity.git
Homepage: http://wiki.laptop.org/go/Etoys

Package: sugar-etoys-activity
Architecture: all
Depends: ${shlibs:Depends}, ${python:Depends}, ${cdbs:Depends}, ${misc:Depends}, etoys
Recommends: sugar
Provides: ${python:Provides}
Description: Sugar wrapper around the Squeak Etoys programming language
 Sugar is a desktop environment. It is conceived as a platform upon
 which children learn with Sugar Activities. The platform provides
 mechanisms for collaboration, reflection, and exploration. Sugar
 Activities cover a broad range of applications: browsing, drawing,
 composing, writing, programming, etc.
 .
 Squeak Etoys was inspired by LOGO, PARC-Smalltalk, Hypercard, and
 starLOGO. It is a media-rich authoring environment with a simple,
 powerful scripted object model for many kinds of objects created by
 end-users. It includes 2D and 3D graphics, images, text, particles,
 presentations, web-pages, videos, sound and MIDI, etc. It includes the
 ability to share desktops with other Etoy users in real-time, so many
 forms of immersive mentoring and play can be done over the Internet.
 .
 The Etoys activity embeds Squeak Etoys into Sugar.
