Package: sugar-etoys-activity
Version: 115-1
Architecture: all
Maintainer: Debian OLPC <debian-olpc-devel@lists.alioth.debian.org>
Installed-Size: 224
Depends: python, python-central (>= 0.6.11), etoys
Recommends: sugar
Section: x11
Priority: optional
Homepage: http://wiki.laptop.org/go/Etoys
Description: Sugar Etoys Activity
 Sugar is a graphical user interface aimed at children.
 .
 Sugar is mainly used as the interface for One Laptop Per Child (OLPC)
 XO machines.
 .
 Etoys is a media-rich authoring environment with a simple, powerful scripted object model for many kinds of objects.
Python-Version: all
